// .v-theme--light{
//   --v-theme-background: red;
// }


html, body{
  background-color: red;
}

.w-fit-content{
	width: fit-content;
}

.space-evenly{
	justify-content: space-evenly;
}

.outline-red{
	outline: 1px solid red;
}

// =========== SCROLLBAR CUSTOMIZATION ===========
::-webkit-scrollbar { 
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  &:hover{
    background: #555;
  }
}
// =========== SCROLLBAR CUSTOMIZATION ===========
