a {
  text-decoration: none;
  color: unset;
}

.w-fit-content {
  width: fit-content;
}

.space-evenly {
  justify-content: space-evenly;
}

.hover-underline {
  transition: border-bottom 0.25s;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

// =========== SCROLLBAR CUSTOMIZATION ===========
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  &:hover {
    background: #555;
  }
}
// =========== SCROLLBAR CUSTOMIZATION ===========
