// =========== FONT-FAMILY SETUP
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap");

html,
#app {
  font-family: "Sora", sans-serif !important;
}

// =========== SCROLLBAR CUSTOMIZATION ===========
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  &:hover {
    background: #555;
  }
}
// =========== SCROLLBAR CUSTOMIZATION ===========
.opacity-0 {
  opacity: 0;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-100 {
  opacity: 1;
}

.w-fit-content {
  width: fit-content;
}

.text-small {
  font-size: 0.8rem;
}

.home-max-width {
  max-width: 800px;
}
.space-evenly {
  justify-content: space-evenly;
}

.b-highlighter-container {
  b {
    font-weight: bolder;
    color: mix($primary-accent, currentColor, 0.5);
  }
}

.hover-underline {
  transition: border-bottom 0.25s;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

// =========== OVERRIDES ===========

// === HIGHLIGHTJS===
code.hljs {
  background: unset;
  text-align: left;
}
// === HIGHLIGHTJS===

// === VUETIFY ===
a {
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}
.v-btn {
  text-transform: none !important;
}
.v-card {
  overflow: initial !important;
}
// === VUETIFY ===

// =========== OVERRIDES ===========
