@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$page-bg: #121216;
$cv-bg1: #ffffff;
$cv-text-color: #57585a;
$cv-bg2: #eff0f2;

$cv-primary: #57585a;
$cv-border-thickness: 3px;

// ------ REMOVE AFTER TESTING ------
$cv-bg1: #2a2b36;
$cv-text-color: #d0d1d3;
$cv-bg2: #2d303f;
$cv-primary: #788d9e;
// ------ REMOVE AFTER TESTING ------

@mixin heading {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
